.button{
    margin: 10px 10px 0px 0px;
}
.label{
    margin: 10px 0;
}
.error{
    margin-top: 5px;
    color: #e57373;
}
.radio{
    margin-top: 5px;
}
.highlight{
    background: #ffcdd2;
}

.white {
    background: #fff;
}

.question-wrapper {
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.07);
}

.option-wrapper {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ebebeb;
}

.option {
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}

.option:nth-of-type(2n+1) {
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}

.option:nth-of-type(2n) {
    border-right: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}

.button-wrapper {
    text-align: center;
    margin-bottom: 30px;
}